<div class="container">
  <h1>Configuration group: <%= @cg.name %></h1>

  <h2>Configuration files in this group (<%= @cg.configurations.count %>)</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Version</th>
          <th>Assignment Count</th>
          <th>Endpoint Count</th>
          <th>Default Config</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @cg.configurations.each do |config| %>
          <tr>
            <td><%= config.name %></td>
            <td><%= config.version %></td>
            <td><%= config.assigned_endpoints.count %></td>
            <td><%= config.configured_endpoints.count %></td>
            <td><input type="radio" name="default_config" value="<%= config.id %>" disabled <% if @default_config == config %>checked="checked"<% end %>/></td>
            <td>
              <% if @cg.canary_in_progress? %>
                <% if @cg.canary_config == config %>
                  <a href="<%= @cg.id %>/canary/<%= config.id %>" type="button" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-cog"> Canary</i></a>
                <% else %>
                  <button type="button" class="btn btn-default btn-sm"disabled>Canary</button>
                <% end %>
              <% else %>
                <% if @cg.default_config == config %>
                  <button type="button" class="btn btn-default btn-sm"disabled>Canary</button>
                <% else %>
                  <a href="<%= @cg.id %>/canary/<%= config.id %>" type="button" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-play"> Canary</i></a>
                <% end %>
              <% end %>
              <% if config.assigned_endpoints.count == 0 && @cg.default_config != config %>
                <form action="<%= "#{@cg.id}/configurations/#{config.id}" %>" method="POST">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="submit" class="btn btn-sm btn-danger" value="delete">
                </form>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


  <a href="<%= "/configuration-groups/#{@cg.id}/configurations/new" %>">Add new configuration</a>



  <h2>Endpoints in this group (<%= @cg.endpoints.count %>)</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Identifier</th>
        <th>Osquery version</th>
        <th>Config refresh count</th>
        <th>Last ip address</th>
        <th>Last config refresh</th>
        <th>Assigned Configuration</th>
      </tr>
    </thead>
    <tbody>
      <% @cg.endpoints.each do |endpoint| %>
        <tr>
          <td><%= endpoint.identifier %></td>
          <td><%= endpoint.last_version %></td>
          <td><%= endpoint.config_count %></td>
          <td><%= endpoint.last_ip %></td>
          <td><%= endpoint.last_config_time %></td>
          <td><%= endpoint.assigned_config.name %></td>
      <% end %>
    </tbody>
  </table>
</div>
