<h1>Configuration group: <%= @cg.name %></h1>

<form action="<%= "/configuration-groups/#{@cg.id}" %>" method="post">
<h2>Configuration files in this group (<%= @cg.configurations.count %>)</h2>
<table border=1>
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Assignment Count</th>
      <th>Endpoint Count</th>
      <th>Default Config</th>
    </tr>
  </thead>
  <tbody>
    <% @cg.configurations.each do |config| %>
      <tr>
        <td><%= config.name %></td>
        <td><%= config.version %></td>
        <td><%= config.assigned_endpoints.count %></td>
        <td><%= config.configured_endpoints.count %></td>
        <td><input type="radio" name="default_config" value="<%= config.id %>" <%if @cg.default_config == config %>checked="checked"<% end %>/></td>
      </tr>
    <% end %>
  </tbody>
</table>
<button type="submit">Save</button>
</form>

<a href="<%= "/configuration-groups/#{@cg.id}/configurations/new" %>">Add new configuration</a>

<h2>Endpoints in this group (<%= @cg.endpoints.count %>)
<table border=1>
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Osquery version</th>
      <th>Config refresh count</th>
      <th>Last ip address</th>
      <th>Last config refresh</th>
      <th>Assigned configuration</th>
    </tr>
  </thead>
  <tbody>
    <% @cg.endpoints.each do |endpoint| %>
      <tr>
        <td><%= endpoint.identifier %></td>
        <td><%= endpoint.last_version %></td>
        <td><%= endpoint.config_count %></td>
        <td><%= endpoint.last_ip %></td>
        <td><%= endpoint.last_config_time %></td>
        <td><%= endpoint.assigned_config.name %></td>
    <% end %>
  </tbody>
</table>
